{% extends "admin/base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h1 class="ml-2">Relatório de Transações</h1>
    </div>
    <div class="row">
      <p class="ml-2">{{ start_date|date:'d/m/Y' }} - {{ end_date|date:'d/m/Y' }}</p>
    </div>

    <div class="row">
      <div class="col"> 
        <div class="card">
          <h3 class="card-title m-4">Selecione o período desejado para o relatório</h3>
          <form class="mx-4" action="{% url "transactions-report" %}" method="GET">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="start_date">Data inicial</label>
                  <input 
                    type="date" 
                    class="form-control" 
                    id="start_date" 
                    name="start_date"
                    value="{{ start_date|date:'Y-m-d' }}"
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="end_date">Data Final</label>
                  <input 
                    type="date"
                    class="form-control"
                    id="end_date" 
                    name="end_date"
                    value="{{ end_date|date:'Y-m-d' }}"
                  >
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="static_user" class="col-sm-1 col-form-label">Usuário</label>
              <div class="col-sm-5">
                <input 
                  type="text" 
                  readonly 
                  class="form-control-plaintext" 
                  id="static_user" 
                  value="{{ request.user.first_name }} {{ request.user.last_name }}"
                  name="static_user"
                >
              </div>
              <div class="form-check col-5">
                <div class="row ml-2">
                  <input 
                    class="form-check-input"
                    type="checkbox" 
                    value="True"
                    id="display_family"
                    name="display_family"
                    {% if display_family %} checked {% endif %}
                  >                
                  <label class="form-check-label" for="display_family">
                    Mostrar dados da Família
                  </label>
                </div>

                <div class="row ml-2">
                  <input 
                    class="form-check-input"
                    type="checkbox" 
                    value="True"
                    id="display_receipt"
                    name="display_receipt"
                    {% if display_receipt %} checked {% endif %}
                  >                
                  <label class="form-check-label" for="display_receipt">
                    Mostrar Receitas
                  </label>
                </div>

                <div class="row ml-2">
                  <input 
                    class="form-check-input"
                    type="checkbox" 
                    value="True"
                    id="display_expense"
                    name="display_expense"
                    {% if display_expense %} checked {% endif %}
                  >                
                  <label class="form-check-label" for="display_expense">
                    Mostrar Despesas
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-4">Filtrar</button>
          </form>  
        </div>
      </div>
    </div>

    <div class="row d-flex align-items-stretch">
      <div class="col-sm">
        <div class="card h-100">
          <div class="card-body">
            <h3>Receitas</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Categoria</th>
                  <th class="text-right" scope="col">Valor</th>
                  <th class="text-right" scope="col">%</th>
                </tr>
              </thead>
              <tbody>
                {% for category in summary.receipt.categories %}
                  <tr>
                    <th scope="row">{{ category.category }}</th>
                    <td class="text-right">R$ {{ category.total }}</td>
                    <td class="text-right">{{ category.percentual }} %</td>
                  </tr>
                {% endfor %}
                <tr>
                  <th scope="row">Total</th>
                  <td class="text-right">R$ {{ summary.receipt.total }}</td>
                  <td class="text-right">100 %</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card h-100">
          <div class="card-body">
            <h3>Despesas</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Categoria</th>
                  <th class="text-right" scope="col">Valor</th>
                  <th class="text-right" scope="col">%</th>
                </tr>
              </thead>
              <tbody>
                {% for category in summary.expense.categories %}
                  <tr>
                    <td>{{ category.category }}</th>
                    <td class="text-right">R$ {{ category.total }}</td>
                    <td class="text-right">{{ category.percentual }} %</td>
                  </tr>
                {% endfor %}
                <tr>
                  <th scope="row">Total</th>
                  <td class="text-right">R$ {{ summary.expense.total }}</td>
                  <td class="text-right">100%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <h3>Saldo do período</h3>
            </div>
            <div class="row">
              <p>R$ {{summary.balance}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <h3>Transações do período</h3>
            </div>
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Descrição</th>
                    <th class="text-right" scope="col">Valor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Conta</th>
                    <th scope="col">Cartão de crédito</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                    <tr>
                      <td>{{ transaction.date|date:'d/m/Y'  }}</th>
                      <td>{{ transaction.description }}</th>
                      <td class="text-right">R$ {{ transaction.amount }}</td>
                      <td>{{ transaction.category.name }}</td>
                      {% if transaction.type == "receipt" %}
                        <td>Receita</td>
                      {% else %}
                        <td>Despesa</td>
                      {% endif %}
                      <td>{{ transaction.user.first_name }}</td>
                      <td>{{ transaction.account.name }}</td>
                      <td>{{ transaction.credit_card.name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}