{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}


{% block body %}
<div class="container">
  <div class="row center-container">
    <div class="col col-md-5">
      <div class="card shadow mb-5">
        <div class="card-header">
          <h3 class="text-center">Bem vindo</h3>
          <p class="text-center">Controle financeiro v0.1</p>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group my-2">
              <label for="id_username">Nome de usuário</label>
              <input 
                type="text" 
                class="form-control" 
                id="id_username" 
                name="username" 
                placeholder="Digite seu nome de usuário"
              >
            </div>
            <div class="form-group my-2">
              <label for="id_password">Senha</label>
              <input 
                type="password"
                class="form-control" 
                id="id_password"
                name="password" 
                placeholder="Digite sua senha"
              >
            </div>
            <button type="submit" class="btn btn-primary btn-block my-2">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
      <p>Você está logado com sucesso!</p>
  {% else %}
      <p>Erro: Não foi possível fazer login. Por favor, verifique suas credenciais.</p>
  {% endif %}
</div>


{% endblock body %}